/*
/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
}*/




/*
 * Text Rules
 */
.jumbo-text {
  font-size: 108px;
}

.border-right {
    border-right: 1px solid black;
}

/*
 * Slide animations
 */

 .slideanim {
   visibility: hidden;
 }
 .slide {
   animation-name: slide;
   -webkit-animation-name: slide;
   animation-duration: 1s;
   -webkit-animation-duration: 1s;
   visibility: visible;
 }

 @@keyframes slide {
   0% {
     opacity: 0;
     transform: translateY(70%);
   }

   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }

 @-webkit-keyframes slide {
   0% {
     opacity: 0;
     -webkit-transform: translateY(70%);
   }

   100% {
     opacity: 1;
     -webkit-transform: translateY(0%);
   }
 }*/

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.jumbotron {
  text-align: center;
}

.home-selections {
  background-color: #1976D2;
}

.selection-image {
    margin-top: 10px;
}

.selector-view {
  overflow: hidden;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.thumbnail:hover {
  background: #BBDEFB;
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.thumbnail img {
  margin-bottom: 10px;
}
